.header {
background: linear-gradient(#d70000, #8b0000);
padding: 20px;
text-align: center;
}

.title {
color: white;
font-size: 2.3rem;
text-shadow: 0 0 8px gold;
margin-bottom: 10px;
}

.nav a {
color: white;
margin: 0 12px;
font-size: 1.1rem;
text-decoration: none;
transition: 0.3s;
}

.nav a:hover {
color: gold;
}

.themeButton {
  background: var(--card-bg);
  color: var(--text-color);
  border: 2px solid var(--accent);
  padding: 8px 14px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.themeButton:hover {
  transform: scale(1.05);
  background: var(--accent);
  color: #fff;
}
