.app {
  transition: all 0.3s ease;
  min-height: 100vh;
}


.light {
  background-color: #fffaf0; 
  color: #333;
}

.light a {
  color: #e2dddd;
}

.light header,
.light main,
.light footer,
.light .quoteBox,
.light .christmasCard {
  background-color: #fffaf0; 
  color: #333;
}

.dark {
  background-color: #0b2b0b; 
  color: #000000;
}

.dark a {
  color: #000000;
}

.dark header,
.dark main,
.dark footer,
.dark .quoteBox,
.dark .christmasCard {
  background-color: #0b2b0b;
  color: #000000;
}

.light button {
  background-color: #d70000;
  color: #fff;
}

.dark button {
  background-color: #4b8b4b;
  color: #fff;
}


footer {
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.light footer {
  background-color: #fffaf0;
  color: #333; 
}

.dark footer {
  background-color: #0b2b0b;
  color: #ffffff; 
}
